.titleLabel {
    display: block;
    text-align: center;
}
.titleInput {
    display:  block;
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
    background: none;
    border:none;
    color:white;
    font-size: 2em;
}
.titleInput:focus, .titleInput:focus{
    outline: none;
}
.submit {
    margin:0 auto;
    margin-top: 40px;
    display:block;
    background: none;
    color:#8c8c8c;
    font-size: 1.2em;
    
}